/*

Color Scheme:
#18e4eb
#066568

*/

body {
  text-align: center;
  font-family: montserrat;
  background: #066568;
  color: whitesmoke;
}

#navbar {
  margin: 0;
  display: flex;
  justify-content: space-between; 
  padding: 0 4em;
  /* border: 2px dashed white;*/
}

#nav-list {
  list-style-type: none;
  padding: 50px 0;
}

#nav-list li {
  display: inline-block;
  margin: 0 2em;
}

#brand-name {
  width: auto;
}


#brand {
  margin: 0;
  font-size: 5.5em;
  font-weight: 400;
  font-family: matsury;
  color: #18e4eb;
}


#weather-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 0;
}

#forecast {
  margin: 0 7em;
}

#temp {
  margin: 0;
  font-family: montserrat;
  font-size: 11em;
  font-weight: 100;
}

#imgs {
  width: 20em;
  height: 20em;
}